/* CSS RESET */
* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(178, 214, 50);
}

/* html,body{
  overflow-x: hidden;
} */

/* Variables */

:root {
  --navbar-height: 59px;
  --hero-colour: rgb(69, 122, 44);
  --services-color: rgb(20, 18, 18);
  --h-primary: rgb(24, 20, 20);
  --h-secondary: rgb(194, 183, 183);
  --navbar-main-color: rgb(20, 18, 18);
  --navbar-item-color: rgb(224, 219, 219);
  --hover-color: rgba(221, 221, 134, 0.575);
  --services-box-color: rgba(143, 196, 130, 0.274);
}

/* Utility Classes */
.h-primary {
  font-size: 2.5rem;
  padding: 12px;
}

.para {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: rgba(231, 231, 231, 0.644);
}

.h-secondary {
  font-size: 2.2rem;
  padding: 7px;
}

/* NavBar */
.navbar {
  display: flex;
  position: relative;
  overflow-x: hidden;
}

.navbar::before {
  content: "";
  background-color: var(--navbar-main-color);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar ul li {
  font-size: 1rem;
}

.navbar ul li a {
  /* to give padding/margin change the display to block for the inline anchor tags */
  display: block;
  text-decoration: none;
  padding: 8px 17px;
  margin: 21px 25px;
  color: var(--navbar-item-color);
  font-family: "Roboto", sans-serif;
  color: rgba(231, 231, 231, 0.795);
  transition: all 0.4s ease-in-out 0s;
}

.navbar ul li a:hover {
  transform: scale(1.15);
  background-color: var(--hover-color);
  border-radius: 4px;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 650px;
  position: relative;
  overflow-x: hidden;
}

/* use pseudo selector to add background -->TIP */
.hero::before {
  content: "";
  background-color: var(--hero-colour);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -2;
}

.hero h1 {
  margin: 47px 12px;
  background-color: rgba(143, 196, 130, 0.5);
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  text-shadow: 2px 2px 3px #beb49c;
  color: var(--h-primary);
  padding: 12px;
  animation: logofx 1s ease-in-out 0.5s infinite alternate;
}

@keyframes logofx {
  from {
    box-shadow: -7px 7px 2px #ffffff46;
  }
  to {
    box-shadow: 6px -6px 2px #ffffff49;
  }
}

.hero p {
  font-weight: 100;
  text-align: center;
  font-size: 44px;
  font-family: "Roboto", sans-serif;
}

.btn {
  margin: 60px;
}

.btn a {
  display: block;
  padding: 3px 12px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(24, 20, 20);
  font-family: "JetBrains Mono", monospace;
  font-size: 20px;
  transition: all 0.5s ease-in-out 0.05s;
  background-color: rgb(143, 196, 130);
}

.btn a:hover {
  transform: scale(1.5);
  background-color: var(--hover-color);
  border-radius: 4px;
  color: rgb(0, 0, 0);
}
/* Services */
#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 710px;
  position: relative;
  overflow-x: hidden;
}


@media (max-width: 1674px) {
  #services {
    height: 1500px;
  }
}

#services::before {
  content: "";
  background-color: var(--services-color);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -3;
}

#services h1 {
  position: absolute;
  top: 50px;
  background-color: rgba(143, 196, 130, 0.5);
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  color: var(--h-secondary);
  padding: 10px;
  margin: 5px;
  animation: logofx 1s ease-in-out 0.5s infinite alternate;
}

.servicesbox {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
}

@media (max-width: 1280px) {
  .servicesbox {
    margin: 20px 90px;
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 6px 122px;
  width: 300px;
  height: 380px;
  border: 6px solid rgba(143, 196, 130, 0.774);
  border-radius: 10px;
  background-color: var(--services-box-color);
  transition: all 0.4s ease-in-out 0s;
}

.box:hover {
  transform: scale(1.12);
  box-shadow: -7px 7px 2px #ffffff8f;
}

@media (max-width: 321px) {
  .box {
    width: 241px;
  }
}
.box p {
  padding: 3px 6px;
  cursor: default;
}

.box h3 {
  font-family: "Nunito", sans-serif;
  color: rgba(255, 255, 255, 0.877);
  cursor: default;
}

/* Copyright */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: var(--navbar-main-color);
}

footer div {
  color: rgba(255, 255, 255, 0.623);
}
